* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.attribution {
  margin: 2rem auto 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: light;
  word-spacing: 0.5rem;
}

.attribution > a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #2bb7da;
}

.attribution > a:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: underline;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  z-index: 2000;
}

.navbar .hamburger {
  display: none;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-links li {
  margin-right: 1.5rem;
}

.navbar .nav-links li:last-child {
  margin-right: 0;
}

.navbar .nav-links a {
  color: #9698a6;
}

.navbar .nav-links a:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: underline;
}

.navbar button {
  background: #31d35c;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 35%, #2bb7da 100%);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1rem  3rem  1rem 3rem;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-left: 15rem;
}

.navbar button:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: underline;
}

section.hero {
  background-color: #fafafa;
  height: 88vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65rem auto;
      grid-template-columns: 65rem auto;
}

section.hero .left {
  padding-left: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .left .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

section.hero .left h1 {
  font-size: 6.5rem;
  font-weight: 300;
}

section.hero .left .text {
  color: #9698a6;
  margin-top: 3rem;
  max-width: 450px;
}

section.hero .left button {
  background: #31d35c;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 35%, #2bb7da 100%);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1rem  3rem  1rem 3rem;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 3rem;
}

section.hero .left button:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: underline;
}

section.hero .right {
  height: 100%;
  margin-right: 0;
}

section.hero .right .hero-bg {
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 150rem;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  right: 0;
}

section.hero .right img {
  width: 90%;
  position: absolute;
  top: -8rem;
  left: 13rem;
  height: auto;
  -webkit-clip-path: inset(8.1rem 4rem 0% 0%);
          clip-path: inset(8.1rem 4rem 0% 0%);
}

section.features {
  background-color: #f3f4f6;
  width: 100%;
  padding: 18rem 15rem 15rem 14rem;
}

section.features .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem auto;
      grid-template-rows: 10rem auto;
}

section.features .container h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2rem;
}

section.features .container p.text {
  max-width: 550px;
  color: #9698a6;
  line-height: 2.7rem;
}

section.features .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10rem;
}

section.features .container .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-right: 1.4rem;
}

section.features .container .row .col:last-child {
  margin-right: 0;
}

section.features .container .row .col .icon {
  margin-bottom: 2.5rem;
}

section.features .container .row .col h3 {
  font-weight: 300;
  margin-bottom: 2.5rem;
}

section.features .container .row .col p {
  color: #9698a6;
  line-height: 2.5rem;
}

section.articles {
  background-color: #fafafa;
  width: 100%;
  padding: 18rem 15rem 15rem 14rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4rem auto;
      grid-template-rows: 4rem auto;
}

section.articles h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2rem;
}

section.articles .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10rem;
}

section.articles .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-right: 2.8rem;
  height: 550px;
  min-width: 20rem;
  background-color: #fff;
  border-radius: 10px;
}

section.articles .row .col:last-child {
  margin-right: 0;
}

section.articles .row .col img {
  width: 100%;
  height: 150px;
  max-height: 30rem;
}

section.articles .row .col .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  margin-top: 2.5rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

section.articles .row .col .text-container h1 {
  margin-top: 0.5rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

section.articles .row .col .text-container p {
  color: #9698a6;
  line-height: 2rem;
}

footer {
  width: 100%;
  background-color: #2d314d;
  color: #ffffff;
  padding: 8rem 10rem 8rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 17rem;
}

footer .col:last-child {
  margin-right: 0;
}

footer .col span {
  font-weight: bolder;
  display: inline-block;
}

footer .col a {
  color: #fff;
  margin-bottom: 3rem;
}

footer .col a:last-child {
  margin-bottom: 0;
}

footer .col a:hover {
  color: #31d35c;
}

footer .col button {
  background: #31d35c;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 35%, #2bb7da 100%);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1rem  3rem  1rem 3rem;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 2rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

footer .col button:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: underline;
}

footer .col .copyright {
  color: #9698a6;
}

footer .col .copyright:hover {
  color: #31d35c;
}

footer .first .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
}

footer .first .logo span {
  margin-left: -16rem;
  font-weight: 700;
  font-size: 3rem;
}

footer .first .logo .logo-img {
  height: 3rem;
}

footer .first .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .first .socials img {
  margin-right: 1.5rem;
}

footer .first .socials img:hover {
  border: 1px solid #31d35c;
}

footer .first .socials img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 776px) {
  html {
    font-size: 45%;
  }
  body {
    font-size: 15px;
  }
  .navbar {
    width: 100%;
    height: 10vh;
    position: relative;
  }
  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(5%, -50%);
            transform: translate(5%, -50%);
    cursor: pointer;
    z-index: 20;
  }
  .navbar .links {
    width: 100%;
    height: 90vh;
  }
  .navbar .hamburger {
    display: block;
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translate(10%, -50%);
            transform: translate(10%, -50%);
    cursor: pointer;
    z-index: 20;
  }
  .navbar button {
    width: 100%;
    display: none;
    margin: 0;
  }
  .navbar button.button-mobile {
    display: block;
    background-color: white;
    color: black;
    z-index: 200;
  }
  .navbar .nav-links {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    background: #31d35c;
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #31d35c), to(#2bb7da));
    background: linear-gradient(90deg, #31d35c 35%, #2bb7da 100%);
    -webkit-clip-path: circle(50px at 99% -55px);
            clip-path: circle(50px at 99% -55px);
    visibility: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .navbar .nav-links li {
    margin-bottom: 8rem;
  }
  .navbar .nav-links li:last-child {
    margin-bottom: 0;
  }
  .navbar .nav-links a {
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
  }
  .navbar .nav-links.show-links {
    visibility: visible;
    -webkit-clip-path: circle(120rem at 90% 10px);
            clip-path: circle(120rem at 90% 10px);
  }
}

@media screen and (max-width: 776px) and (max-width: 500px) {
  html {
    font-size: 35%;
  }
  body {
    font-size: 12px;
    line-height: 3.5rem;
  }
  section.hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
    height: auto;
  }
  section.hero .left {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0.5rem 3rem 0.5rem;
  }
  section.hero .left .txt {
    margin-top: 8.5rem;
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  section.hero .left h1 {
    font-size: 1.5em;
  }
  section.hero .left p {
    width: 90%;
  }
  section.hero .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vh;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section.hero .right .hero-bg {
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    right: 0;
  }
  section.hero .right .hero-bg img {
    width: 80%;
    position: absolute;
    top: -17.8rem;
    left: 8rem;
    -webkit-clip-path: inset(17.9rem 0% 0% 0%);
            clip-path: inset(17.9rem 0% 0% 0%);
  }
  section.hero .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  section.features {
    padding: 10rem 4rem 10rem 4rem;
  }
  section.features .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(350px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    grid-gap: 1rem;
    text-align: center;
  }
  section.features .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10rem;
  }
  section.features .container .row .col {
    width: 100%;
    max-width: 300px;
    margin-bottom: 6.4rem;
  }
  section.features .container .row .col:last-child {
    margin-right: 0;
  }
  section.features .container .row .col .icon img {
    height: 10rem;
  }
  section.features .container .row .col p {
    line-height: 3.5rem;
  }
  section.articles {
    background-color: #fafafa;
    width: 100%;
    padding: 8rem 5rem 8rem 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
  }
  section.articles .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10rem;
  }
  section.articles .row .col {
    width: 100%;
    margin-bottom: 10.8rem;
    height: auto;
  }
  section.articles .row .col .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-top: 0.5rem;
    padding: 1rem 1.5rem 2.5rem 1.5rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
  }
  footer .left .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  footer .left .col .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .left .col .socials img {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 776px) and (max-width: 375px) {
  section.hero .right .hero-bg img {
    top: -13.8rem;
    left: 3rem;
    -webkit-clip-path: inset(13.9rem 0% 0% 0%);
            clip-path: inset(13.9rem 0% 0% 0%);
  }
}
/*# sourceMappingURL=style.css.map */